
<div>
  <title>Music Artist Page</title>
  
<body>
  <h1>My Music Collection</h1>

  <div class="music-list">
    {{#each songs}}
    <div class="song">
      <h2>{{title}}</h2>
      <p>Artist: {{artist}}</p>
      <p>Album: {{album}}</p>
    </div>
    {{/each}}
  </div>


<h1>Quiz</h1>
<audio id="audioPlayer" controls>
   <source src = '{{previewTrackUrl}}'id="audioSource" type="audio/mpeg">
</audio>

<button id="play-button">Play</button>
{{#each artists}}
<div class="artist-card">
  <img src="{{this.picture}}" alt="{{this.name}}">
  <h2>{{this.name}}</h2>
</div>
{{/each}}




  <script src="/js/quiz.js"></script>
</body>

</html>
