<!-- TELL THEM WHAT TO DO -->
<div class="container-fluid" id="game-textbox-name" style="z-index: 2">
  <h2 class="play-name">play !</h2>
  <p class="game-text-name">Match the sound-byte with the artist's name.</p>
</div>

<!-- TIMER -->


<!-- SOUND WAVES -->
<div class="container" id="wave-shadow" style="width: 36vw; position: relative; object-fit: cover; z-index: 1;">
  <div class="soundbar" id="soundbox">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</div>

<!-- CONTAINER FOR EITHER IMAGES OR ARTIST NAME -->
<!-- Button blocks for 'Match Sound Byte with Artist Name' -->
<div class="container">
  <div class="row justify-content-center mb-2">
    <div class="col d-flex justify-content-end">
      <button class="btn btn-secondary" id="name-choice" type="button" style="width: 400px; height: 50px;">Artist
        1</button>
    </div>
    <div class="col d-flex justify-content-baseline">
      <button class="btn btn-secondary" id="name-choice" type="button" style="width: 400px; height: 50px;">Artist
        2</button>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col d-flex justify-content-end">
      <button class="btn btn-secondary" id="name-choice" type="button" style="width: 400px; height: 50px;">Artist
        3</button>
    </div>
    <div class="col d-flex justify-content-baseline">
      <button class="btn btn-secondary" id="name-choice" type="button" style="width: 400px; height: 50px;">Artist
        4</button>
    </div>
  </div>
</div>
</div>
</div>

<audio id="audioPlayer" >
   <source src = '{{previewTrackUrl}}' id="audioSource" type="audio/mpeg">
</audio>

<button id="play-button">Play</button>
{{#each artists}}
<div class="artist-card">
  <a href="/quiz/?artistId={{id}}">
  <img src="{{picture}}" alt="{{name}}" id="artist-image">
  <h2 id="artist-name">{{name}}</h2>
  </a>
</div>
{{/each}}

<div class="timer">
  <p id="timer"></p>
</div>
<div>
  <p>{{score}}</p>
</div>




  <script src="/js/quiz.js"></script>

