<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navback">
  <div class="container-fluid">
    <div class="row align-items-center">

      <div class="container-fluid">
        <div class="row align-items-center">

  {{! NAV BAR WILL CHANGE TO 'HOME' ONLY }}
  {{! HOME BUTTON SHOULD RENDER THE HOMEPAGE HDBS }}
          <div class="col ms-4" style="width: 33.33vw">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <a class="navbar-brand" id="logo-text">Z</a>
              <ul class="navbar-nav" id="navbar-text">
                <li class="nav-item me-2">
                  <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
              </ul>
            </div>
          </div>

          <!--* SECOND COLUMN : Welcome! *-->
          <div class="col" style="width: 33.33vw; text-align: center;">
            <span class="navbar-text" id="welcome">{{name}}'s Profile</span>
          </div>

          <!--* THIRD COLUMN : Login/Logout *-->
          <div class="col me-4" style="width: 33.33vw; text-align: end;">
{{! LOUGOUT BUTTON SHOULD LOG USER OUT AT DEEZER LEVEL}}
            <button class="btn btn-light login" id="logout" href="#">Logout</button>
          </div>
        </div>
      </div>
</nav>

<main>
  <h1>qui<big>Z</big>ify</h1>

  <div class="background-container d-flex justify-content-center align-items-center"
    style="background-image: url('/assets/boombox-muted-2.png');background-repeat: no-repeat; background-position: center; background-size: contain; width: 100%; padding-bottom: 30%;"
    id="boombox">
  </div>

  <div class="container-fluid" id="table-contain">
    <p class="text-center" id="song-queue">Song Queue:</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 22%">Remove</th>
          <th scope="col" style="width: 56%" class="track-col">Track</th>
          <th scope="col" style="width: 22%">Play</th>
        </tr>
      </thead>
      <tbody>
{{#each songs}}
        <tr>
          <th scope="row" class="delete-icon">⛔</th>
          <td scope><a href="/songs/{{this.id}}">{{this.title}} by {{this.artist.name}}</a></td>
          <td class="play-icon" data-id="{{this.id}}">▶︎</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>

